wwwroot/lib/** linguist-vendored
wwwroot/css/** linguist-vendored
wwwroot/js/** linguist-vendored

*.scss linguist-vendored
*.sass linguist-vendored
*.map linguist-vendored

*.min.css linguist-vendored
*.min.js linguist-vendored

*.cshtml linguist-language=C#
