body {
    background-color: #eff2f6;
}
a {
    text-decoration: none;
}
.avatar{
    width: 3rem;
    height: 3rem;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

.card-title a {
    color: #2c3e50;
    transition: color 0.2s;
}

.card-title a:hover {
    color: #0d6efd;
   
}