<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body p-5">

                    <h2 class="text-center fw-bold text-primary mb-4">Şifremi Unuttum</h2>

                    <form asp-action="ForgotPassword" method="post">

                        <div class="mb-3">
                            <label for="Email" class="form-label text-secondary small fw-bold">Email Adresi</label>

                            <input name="Email" type="email" class="form-control form-control-lg bg-light border-0"
                                placeholder="name@example.com" required />
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg w-100 fw-bold shadow-sm">
                            Gönder
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>